<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="TestRegistrationApplicationUrl">${tdsadmin.TestRegistrationApplicationUrl}</entry>
	<entry key="tdsadminTimeout">${tdsadmin.sessionTimeoutMinutes:15}</entry>
	<entry key="component.name">${tdsadmin.component.name}</entry>
</properties>